button
{
	display: block;
	margin-bottom: 20px;
	width: auto;
	border-radius: 5px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom:5px;
	padding-right: 10px;
	padding-left: 10px;
}
#notes
{
	margin-top: 20px;
	margin-bottom: 40px;
}
ul
{
	text-align: left;
}